Source: osdf
Section: devel
Priority: optional
Maintainer: Victor <victor73@github.com>
Build-Depends: dh-systemd, debhelper (>=9.20160115)
Standards-Version: 3.9.7
Homepage: http://github.com/victor73/OSDF
#Vcs-Git: git://git.debian.org/collab-maint/osdf.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/osdf.git;a=summary

Package: osdf
Architecture: any
Depends: ${misc:Depends}, lsb-base, openssl, adduser (>= 3.11), nodejs (>= 6.0.0)
Suggests: couchdb (>= 1.6.0), elasticsearch (>= 1.4)
Description: RESTful API for storing and retrieving scientific data.
 OSDF is a server that is used to provide a RESTful HTTP API for
 storing, retrieving and modifying JSON documents. The server
 supports links between documents, security with access control lists,
 versioning of changes, and validation of data using JSON-Schema. This
 reference implementation of the API is built with Node.js, CouchDB and
 ElasticSearch.
